<h1>ngx-codejar <a href="https://github.com/julianpoemp/ngx-codejar"><i class="bi bi-github"></i></a> </h1>
<p>
  An Angular wrapper for the code-editor <a href="https://github.com/antonmedv/codejar">CodeJar</a>. It supports two-way
  data-binding.<br/>For more information, issue requests or just saying thanks by giving a star see the <a href="https://github.com/julianpoemp/ngx-codejar">Github repository</a>
</p>

<p>Below you see two examples of how to use ngx-codejar - one for highlight.js and one for prism.js. Each code block is an editor, you can change it!</p>

<h2 style="margin-top: 60px">Example with highlight.js:</h2>
<h3>my-component.component.ts:</h3>
<ngx-codejar [highlightMethod]="highlightWithTS" [(code)]="hljsTSCode" [showLineNumbers]="true"></ngx-codejar>

<h3>my-component.component.html</h3>
<ngx-codejar [highlightMethod]="highlightWithHTML" [(code)]="hljsHTMLCode" [showLineNumbers]="true"></ngx-codejar>
<br/>

<h2 style="margin-top: 80px">Example with prism.js:</h2>
<h3>my-component.component.ts:</h3>
<ngx-codejar [highlightMethod]="hightlightTSWithPrismJS" [(code)]="prismTSCode" [highlighter]="'prism'"
             [showLineNumbers]="true"></ngx-codejar>

<h3>my-component.component.html</h3>
<ngx-codejar [highlightMethod]="hightlightHTMLWithPrismJS" [(code)]="prismHTMLCode" [showLineNumbers]="true"
             [highlighter]="'prism'"></ngx-codejar>
<br/>
